* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left-items {
    margin-top: 15px;
    display: flex;
    gap: 30px;
}

.site-options {
    border: solid 3px blue;
}

.site-options:hover {
    color: white;
    background-color: blue;
}

#right-items {
    margin-top: 15px;
    margin-right: 30px;
    display: flex;
}

.account-action {
    margin-left: auto;
    margin-right: 30px;
    border: solid 3px red;
}

.account-action:hover {
    color: white;
    background-color: red;
}


#choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    gap: 15px;
}

.business-options {
    border: solid 2px black;
}

.business-options:hover {
    color: white;
    background-color: black;

}

#carouselExampleControls {
    display: flex;
    justify-content: center;
    margin: 100px;
    border: solid red 2px;
}

.carousel-inner {
    border: solid green 2px;
    display: f;
    justify-content: center;

}