li {
    display: inline-block;
}

#choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

button {
    width: 125px;
    height: 75px;
    list-style: none;
}