* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left-items {
    margin-top: 15px;
    display: flex;
    gap: 30px;
}

.site-options {
    border: solid 3px blue;
}

.site-options:hover {
    color: white;
    background-color: blue;
}

#right-items {
    margin-top: 15px;
    margin-right: 30px;
    display: flex;
    gap: 30px;
}

.account-action {
    margin-left: auto;
    margin-right: 30px;
    border: solid 2px red;
}

.account-action:hover {
    color: white;
    background-color: red;
}


#choices {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    gap: 15px;
    padding-right: 150px;
}

.business-options {
    border: solid 2px black;
}

.business-options:hover {
    color: white;
    background-color: black;

}

#carouselExampleControls {
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 500px;
    margin-top: 100px;
    border: solid red 2px;
}

.carousel-inner {
    height: 600px;
    padding-bottom: 25%;
    /* this sets carousel aspect ratio (4:1 here) */
}

.carousel-item {
    position: absolute !important;
    /* Bootstrap is insistent */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.carousel-item img {
    height: 100%;
    /* Bootstrap handles width already */
    object-fit: cover;
    /* or 'contain' if you want stretch instead of crop */
}

.business-posting {
    margin-left: 115px;
    margin-right: 115px;
}

table {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.approve {
    border: solid green 2px;
}

.approve:hover {
    color: white;
    background-color: green;
}

.deny {
    border: solid red 2px;
}

.deny:hover {
    color: white;
    background-color: red;
}

#review-box {
    border: solid black 3px;
}

.account-action {
    margin-left: auto;
    margin-right: 30px;
    border: solid 2px red;
}

.account-action:hover {
    color: white;
    background-color: red;
}